
.fill-remaining-space {
   flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
   height: 120px;
   position: fixed;
   top: 0;
   z-index: 10;
   opacity: .8;

}

body {
   margin: 120px 0 0 0;
}

.content {
   padding: 20px;
}