
<mat-toolbar>
  <span>Soluciones de software Web & Mobile</span>
  
  <span class="fill-remaining-space"></span>

  <button mat-button [matMenuTriggerFor]="idioma"> 
    {{ "idioma" | translate }} 
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #idioma="matMenu">
    <button mat-menu-item (click)="toogleLanguage('es')">Español</button>
    <button mat-menu-item (click)="toogleLanguage('en')">English</button>
  </mat-menu>

</mat-toolbar>

      
<router-outlet></router-outlet>
