
@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}


.item {
  width: 200px;
  margin: 50px auto;
  height: 111px;
  padding: 29px 19px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
  
  span {
    display: block;
    font-size: 1rem;
  }

  &--primary {
    @include center-v;
    right: 20px;
  }
  
}



/* colours */
.color-violet {
  background-color: #7A4EAB !important;
}
.color-indigo {
  background-color: rgb(173, 165, 245) !important;
}
.color-blue {
  background-color: #2F8FED !important;
}
.color-green {
  background-color: #4DCF42 !important;
}
.color-yellow {
  background-color: #FAEB33 !important;
}
.color-orange {
  background-color: #F19031 !important;
}
.color-red {
  background-color: #F2293A !important;
}
.color-black {
  background-color: black !important;
}


mat-card.mat-card.ng-star-inserted.aos-init.aos-animate {
  margin-bottom: 20px;
}

.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}

.img-tecno {
  height: 100px;
}

.main__title {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: .05em;
  color: rgb(240, 222, 130)
}

.main__text {
  text-transform: uppercase;
  color: rgb(240, 222, 130)
}