<!--  intro (carrousell) -->
<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="3000"
  color="primary"
  maxWidth="auto"
  proportion="25"
  slides="6"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr">

  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="'../../../assets/images/banner/dev.jpg'"
    overlayColor="#00000040"
    [hideOverlay]="true">
    <div data-aos="zoom-out"
         style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
      <h1>{{ "Automatizando tus ideas ..." }}</h1>
    </div>
  </mat-carousel-slide>
</mat-carousel>


  <!-- Que hacemos -->
  <h1> ¿Que hacemos? </h1>

  <div class="panel" 
    data-color="red" 
    fxLayout="row wrap"      
    fxLayoutAlign="space-around center">
      
        <mat-card data-aos="flip-left" 
        fxFlex="300px"           
        *ngFor="let item of specialties; let i = index" data-aos="zoom-out"
        style="margin-bottom: 20px;">
        <mat-card-header>              
          <mat-card-title>
            <mat-icon>{{ item.img }}</mat-icon> 
            {{ 'home.servicios.especialidades.' + item.title | translate }}
          </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <p> {{ 'home.servicios.especialidades.' + item.description | translate }}</p>
        </mat-card-content>
        <!-- <mat-card-actions  fxLayoutAlign="center center">
          <button mat-button>linkedin</button>              
        </mat-card-actions> -->
        </mat-card>            
    </div>

    <marquee scrollamount="15">
      <img class="img-tecno" src="../../../assets/images/tecnologias/android.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/angular.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/docker.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/hibernate.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/html5.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/ionic.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/ios.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/java.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/jquery.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/mysql.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/oracle.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/spring.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/tomcat.png" alt=""> 
      <img class="img-tecno" src="../../../assets/images/tecnologias/wildfly.png" alt=""> 
    </marquee>

    <!-- Proceso de trabajo -->
    <h1> {{ 'home.proceso.titulo' | translate }} </h1>

    <div class="panel" data-color="orange" data-aos="zoom-out">
      <p> {{ 'home.proceso.descripcion' | translate }} </p>
      <mat-vertical-stepper>
        <mat-step>
          <ng-template matStepLabel> {{ 'home.proceso.primero.subtitulo' | translate }} </ng-template>
          <h3> {{ 'home.proceso.primero.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'home.proceso.segundo.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.segundo.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'home.proceso.tercero.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.tercero.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'home.proceso.cuarto.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.cuarto.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'home.proceso.quinto.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.quinto.descripcion' | translate }} </h3>
        </mat-step>

      </mat-vertical-stepper>
    </div>


        
    


<!-- Nuestros productos -->
<h1> Productos </h1>
<div class="panel" data-color="green" data-aos="flip-right" id="trigger-right">
  <img src="https://www.galponrural.com.py/construccion/images/icons/en-construccion01-1.png"
    style="width: 100%" alt="en construccion">
</div>



<!-- Nosotros -->

    <h1> Nosotros </h1>
    <div class="panel" data-color="yellow"  id="trigger-left"                 
      fxLayout="row wrap" fxLayoutAlign="space-around center">


        <mat-card class="example-card"  fxFlex="200px" data-aos="flip-right">
            <mat-card-header>
              <mat-card-title>{{ 'home.nosotros.colaboradores.mike.nombre' | translate }}</mat-card-title>
              <mat-card-subtitle>{{ 'home.nosotros.colaboradores.mike.especialidad' | translate }}</mat-card-subtitle>
            </mat-card-header>
            <img class="sepia"
               mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of ricardo soler">
            <mat-card-content>
              <p>{{ 'home.nosotros.colaboradores.mike.experiencia' | translate }}</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center center">
              <button mat-button>linkedin</button>              
            </mat-card-actions>
          </mat-card>


          <mat-card class="example-card"  fxFlex="200px" data-aos="flip-left">
              <mat-card-header>
                <mat-card-title>{{ 'home.nosotros.colaboradores.zavala.nombre' | translate }}</mat-card-title>
                <mat-card-subtitle>{{ 'home.nosotros.colaboradores.zavala.especialidad' | translate }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class="sepia"
                src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{ 'home.nosotros.colaboradores.zavala.experiencia' | translate }}</p>
              </mat-card-content>
              <mat-card-actions  fxLayoutAlign="center center">
                <button mat-button>linkedin</button>              
              </mat-card-actions>
            </mat-card>

            <mat-card class="example-card" fxFlex="200px" data-aos="flip-left">
                <mat-card-header>
                  <mat-card-title>{{ 'home.nosotros.colaboradores.ricardo.nombre' | translate }}</mat-card-title>
                  <mat-card-subtitle>{{ 'home.nosotros.colaboradores.ricardo.especialidad' | translate }}</mat-card-subtitle>
                </mat-card-header>
                  <img class="sepia"
                  mat-card-image src="https://media.licdn.com/dms/image/C4E03AQGufAvkrP3SIw/profile-displayphoto-shrink_200_200/0?e=1570060800&v=beta&t=lW8sCSsn4br038BLev45GiLxSSPmPUobRyO19J5LG-g"
                  alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>{{ 'home.nosotros.colaboradores.ricardo.experiencia' | translate }}</p>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center center">
                  <button mat-button onClick="window.open('https://www.linkedin.com/in/risolerh/')">              
                    linkedin
                  </button>              
                </mat-card-actions>
              </mat-card>      

    </div>




<!-- contactanos  (mostrar por la derecha) -->

<div class="content">

    <div class="item item--primary"
        data-aos="fade-left"
        data-aos-anchor="#trigger-right"
        data-aos-anchor-placement="top-center">
      Contacto
      <span>Envienos sus datos para contactarle y trabajar juntos</span>
      <button mat-flat-button color="primary">¡Click aquì!</button>
    </div>

</div>


