<!--  intro (carrousell) -->
<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="4000"
  color="primary"
  maxWidth="auto"
  proportion="25"
  slides="6"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr">

  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="'../../../assets/images/banner/dev.jpg'"
    overlayColor="#00000040"
    [hideOverlay]="true">
    <div data-aos="zoom-out"
         style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
      <h1>{{ "Automatizando tus ideas ..." }}</h1>
      <p>disabled: {{ matCarouselSlide.disabled }}</p>
    </div>
  </mat-carousel-slide>
</mat-carousel>

<!-- documentales -->

<!-- contactanos  (mostrar por la derecha) -->

<div class="item item--secondary"
     data-aos="fade-right"
     data-aos-anchor="#trigger-left"
     data-aos-anchor-placement="top-top">
  LEFT
  <span>when top of <strong>2</strong> hits top of window</span>
</div>

<div class="content">

    <div class="item item--secondary"
        data-aos="fade-right"
        data-aos-anchor="#trigger-left"
        data-aos-anchor-placement="top-top">
      LEFT
      <span>when top of <strong>2</strong> hits top of window</span>
    </div>

    <div class="item item--primary"
        data-aos="fade-left"
        data-aos-anchor="#trigger-right"
        data-aos-anchor-placement="top-center">
      RIGHT
      <span>when top of <strong>5</strong> hits center of window</span>
    </div>


    <div class="item panel" data-color="violet" data-aos="fade-up">
        
    </div>


    <!-- Proceso de trabajo -->
    <div class="panel" data-color="orange" data-aos="zoom-out">
      <h1> {{ 'home.proceso.titulo' | translate }} </h1>
      <p> {{ 'home.proceso.descripcion' | translate }} </p>
      <mat-vertical-stepper [linear]="isLinear">
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel> {{ 'home.proceso.primero.subtitulo' | translate }} </ng-template>
          <h3> {{ 'home.proceso.primero.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>{{ 'home.proceso.segundo.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.segundo.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'home.proceso.tercero.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.tercero.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'home.proceso.cuarto.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.cuarto.descripcion' | translate }} </h3>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'home.proceso.quinto.subtitulo' | translate }}</ng-template>
          <h3> {{ 'home.proceso.quinto.descripcion' | translate }} </h3>
        </mat-step>

      </mat-vertical-stepper>
    </div>


    <!-- Que hacemos -->
    <div class="item panel" data-color="red" data-aos="zoom-out">6</div>


    <!-- Tecnologias dominadas -->
    <div class="item panel" data-color="violet" data-aos="slide-up"
    id="trigger-left">7</div>
    <div class="item panel" data-color="indigo" data-aos="flip-up">8</div>
    <div class="item panel" data-color="blue" data-aos="flip-down">9</div>
    <div class="item panel" data-color="green" data-aos="flip-right"
    id="trigger-right">10</div>
    
    
    <!-- Nosotros -->
    <div data-color="yellow" data-aos="flip-left"
        fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

        <mat-card class="example-card" fxFlex="20%">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ 'colaboradores.ricardo.nombre' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'colaboradores.ricardo.especialidad' | translate }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>{{ 'colaboradores.ricardo.experiencia' | translate }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LINKENLN</button>              
          </mat-card-actions>
        </mat-card>


        <mat-card class="example-card" fxFlex="20%">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ 'colaboradores.mike.nombre' | translate }}</mat-card-title>
              <mat-card-subtitle>{{ 'colaboradores.mike.especialidad' | translate }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>{{ 'colaboradores.mike.experiencia' | translate }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LINKENLN</button>              
            </mat-card-actions>
          </mat-card>


          <mat-card class="example-card" fxFlex="20%">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ 'colaboradores.zavala.nombre' | translate }}</mat-card-title>
                <mat-card-subtitle>{{ 'colaboradores.zavala.especialidad' | translate }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{ 'colaboradores.zavala.experiencia' | translate }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LINKENLN</button>              
              </mat-card-actions>
            </mat-card>

    </div>

</div>


