/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
    font-family: Roboto, sans-serif;    
}

html, body { 
    height: 100%; 
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.effect-3d {
    text-shadow: red -0.08em -2px, cyan 0.08em 2px;
}